<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawn.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name=".contentProvider.BaseArchContentProvider"
            android:authorities="${applicationId}.MyContentProvider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>